@charset "utf-8";

@font-face {
  font-family: "ForEnglish";
  src: url("./font_english.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ForJapanese";
  src: url("./font_japanese.ttf") format("truetype");
  font-display: swap;
}

body,html{
  font-family: "ForEnglish","ForJapanese",serif;
  margin: 0;
  background-color: #beac07;
}

h2{
  color: #D18137;
  font-size: larger;
}

.artist{
  padding-top: 30px;
  height: 90vh;
  background-image: url(./top.png);
  background-position: center;
  background-size: cover;
}

.artist_name{
  color: #D18137;
  margin: 0;
}